<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Editar</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
   
   
    <main class="main-login-register">
        
            <h2 class="title">EDITAR PRODUCTO</h2>
            <form class="login-register-form" action="/" method="get">
                <div>
                    <label for="name">Nombre del Producto</label>
                    <input class='control' type="text" id="name" name="name" placeholder="Mesa Ratona">
                </div>
                <div>
                    <label for="description">Descripción</label>
                    <textarea class='control' id="description" name="description" placeholder="Comentario del producto"></textarea>
                </div>
                <div>
                    <label for="image">Imagen</label>
                    <input class='control' type="file" id="image" name="product-image" accept=".jpg, .png, .jpeg">
                </div>
                <div>
                    <label for="size">Medidas</label>
                    <input class='control' type="text" id="size" name="size" placeholder="Largo - Ancho - Alto">
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input class='control' type="number" id="price" name="product-price" placeholder="$10000" >
                </div>
                <div>
                    <label for="discount">Descuento</label>
                    <input class='control' type="number" id="discount" name="product-discount" placeholder="10" >
                </div>
                <div class="create-btn">
                    <input class="button" type="submit" value="CREAR">
                    <input class="button" type="reset" value="LIMPIAR">
                </div>
            </form>   
        </section>
        
        <%- include("../partials/seguinos.ejs") %>
        <%- include("../partials/conoceMas.ejs") %>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>
</html>



    
